/* Define color variables */
:root {
    --primary-color: rgba(255, 255, 255, 1);
    --secondary-color: rgba(1, 42, 34, 1);
    --primary-font-color: rgba(255, 255, 255, 1);
    --header-font-color: rgba(1, 42, 34, 1);
    --sub-header-font-color: rgba(6, 85, 69, 1);
    --article-font-color: rgba(61, 61, 61, 1);
    --button-border-color: var(--article-font-color);
    --button-hover-bg: #FEBF58;
    --button-hover-border: none;
    --button-width: 3rem;
    --button-hover-width: 6rem;
}
@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* Global Styles */
html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    max-width: 100%;
    animation: fadeIn 1s  0.2s ease-in;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora', sans-serif;
    font-size: clamp(1rem, 1rem + 2vw, 5rem);
}

body, p, a, span, div {
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

/* Header Styles */
header {
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    opacity: 0.3;
    position: absolute;
    top: 0;
    padding: 0 2.5vw;
    box-sizing: border-box;
}

.header-logo-holder {
    max-width: 15vw;
    display: flex;
}

.header-logo-holder img {
    width: 100%;
    height: auto;
}

.header-nav-holder {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2vw;
    animation: fadeIn 1s  0.5s ease-in;
}

.header-nav-holder ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 2vw;
    font-size: clamp(0.5rem, calc(0.5rem + (1.125rem - 0.5rem) * ((100vw - 320px) / (1600 - 320))), 1.125rem);
}

.header-nav-holder ul li a {
    text-decoration: none;
    color: #222222;
    line-height: 1.6875rem;
    font-weight: 700;
    text-align: center;
    max-width: 56px;
    flex-grow: 1;
}

/* Main Styles */
main {
    background-color: var(--primary-color);
    max-width: 100%;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-image: url('../images/heroimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10vw;
    flex-shrink: 1;
    overflow: hidden;
}

.hero-content {
    max-width: 53.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-height: 75vh;
    margin-top: 15vh;
}

.hero-content h1, .hero-content p {
    color: var(--primary-font-color);
    overflow: hidden; 
    text-overflow: ellipsis;
    transform: translateX(-20px);
    animation: slideInFromLeft 1s  0.5s ease-in;
}


.hero-content h1 {
    font-size: clamp(1.5rem, 4vw , 5vw);
    font-weight: 700;
    max-height: 95px;
    margin: 0;
    flex-shrink: 1;
    margin-bottom: 2vh;
}

.hero-content p {
    font-size: clamp(1rem, 1.75vw, 5vw);
    font-weight: 400;
    min-height: 252px;
    line-height: 2.45rem;
    letter-spacing: 1%;
}

/* Info Section */
.info-section {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    align-items: flex-start;
}

.info-div {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 10vh;
    width: 100%;
    max-width: 67.25%;
}

.info-div h4 {
    font-size: clamp(2rem, 3vw, 3vw);
    color: var(--header-font-color);
    margin: 0;
    font-weight: 600;
}

.info-div p {
    color: var(--article-font-color);
}

/* Article Grid */
.article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1vw;
    margin: 0 10vw;
    min-height: 90vh;
    
}
@media(max-width: 730px) {
    .article-grid{
    max-height: 50vh;}
}

.article-grid-articles {
    display: flex;
    flex-direction: column;
}
.article-grid-articles:nth-child(2), .article-grid-articles:nth-child(3) {
    border-left: 2px solid transparent;
    border-image-source: linear-gradient(270deg, #FF7E3F  0%, #FEBF58 100%);
    border-image-slice: 1;
}

.article-grid-articles .second-content {
    margin-left: 1vw;
    height: 40%;
}

.article-grid-articles .second-content button {
    border-radius: 3rem;
    height: var(--button-width);
    background: transparent;
    border: 1px solid var(--button-border-color);
    width: var(--button-width);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.article-grid-articles .second-content button:hover {
    width: var(--button-hover-width);
    background-color: var(--button-hover-bg);
    border: var(--button-hover-border);
}

.article-grid-articles h6 {
    max-width: 16vw;
    font-size: clamp(1rem, 2vw, 2.5rem);
    color: var(--sub-header-font-color);
    margin-bottom: 0;
    font-weight: 600;
}

.article-grid-articles p {
    max-width: 16vw;
    font-size: clamp(0.5rem, 1vw, 1rem);
    color: var(--article-font-color);
    max-height: 72px;
    overflow-y: hidden;
}

.article-grid-articles .article-image-holder {
    margin-top: 5vh;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 60%;
}

.article-grid-articles .article-image-holder img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* Last Child Section */
.last-child {
    width: 100%;
    background-color: var(--secondary-color);
    padding-top: 10vh;
    height: 100%;
}

.last-child h4 {
    font-size: clamp(2rem, 3vw, 3vw);
    font-weight: 600;
    max-height: 90px;
    margin: 0;
    margin-left: 10vw;
    color: #9FF1D5;
}

/* Video Grid */
.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50vh auto;
    margin: 0 10vw;
    margin-top: 10vh;
}

.video-grid-articles {
    display: contents;
}

.video-grid-articles:nth-child(3n+2), 
.video-grid-articles:nth-child(3n+3) {
    border-left: 2px solid #065545;
}

.video-grid-articles .iframe-container {
    grid-row: 1;
    border-bottom: 2px solid #065545;
    padding-left: 1vw;
}

.video-grid-articles .iframe-container video {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.video-grid-articles p {
    max-width: 20vw;
    font-size: clamp(0.5rem, 1vw, 1rem);
    color: var(--primary-font-color);
    max-height: 72px;
}

.video-grid-articles .second-content {
    grid-row: 2;
    min-height: 50vh;
    padding-left: 1vw;
    margin-top: 5vh;
}

/* Footer Styles */
.footer {
    margin: 0;
    width: 100%;
    background-color: var(--secondary-color);
    max-width: 100%;
}

.footer .footer-holder {
    margin: 0 10vw;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 15vh 10vh;
    background-color: var(--primary-color);
   
}

.footer .company-socials {
    display: flex;
    flex-direction: column;
    max-width: 13.81vw;
    gap: 5vh;
}

.company-socials .header-logo-holder{
    max-width: 8.5vw;
    max-height: 125px;
    object-fit: contain;
}
.social-icons {
    display: flex;
    padding-top: 2vh;
    gap: 1vw;
    border-top: 1px solid var(--sub-header-font-color);
    color: #012A22;
}

.social-icons a{
    text-decoration: none;
}
.items-holder {
    display: flex;
    gap: 1rem;
    font-size: clamp(0.5rem, 1.4vw, 1rem);

}
.items-holder .item-holder {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    width: 11vw;
}


.items-holder span {
    margin: 0;
    color: #012A22;
    font-size: clamp(0.5rem, 1.1vw, 1.2rem);
    font-weight: 400;

}
.iconify {
    color: #012A22; 
    font-size:1.4vw; 
    max-width: 13.81vw;
  }
