:root {
    --primary-color: rgba(255, 255, 255, 1);
    --secondary-color: rgba(1, 42, 34, 1);
    --primary-font-color: rgba(255, 255, 255, 1);
    --header-font-color: rgba(1, 42, 34, 1);
    --sub-header-font-color: rgba(6, 85, 69, 1);
    --article-font-color: rgba(61, 61, 61, 1);
}

html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora', sans-serif;
    font-size: clamp(1rem, 1rem + 2vw, 5rem);
}

body, p, a, span, div {
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

header {
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    opacity: 0.3;
    position: absolute;
    top: 0;
    padding: 0 2.5vw;
    box-sizing: border-box;
    flex-shrink: 1;
}

header .header-logo-holder {
    max-width: 15vw;;
    min-height: auto;
    display: flex;
    flex-shrink: 1;
    object-fit: contain;
}
.header-logo-holder img {
    width: 100%; 
    height: auto;
    max-width: 100%; 
}

.header-nav-holder {
    display: inline-flex;
    list-style: none; 
    padding: 0;
    margin: 0;
    justify-content: space-between;
    gap: 2vw;
}

.header-nav-holder > *{
    flex-shrink: 1;
}

.header-nav-holder ul {
    display: inline-flex;
    padding: 0; 
    margin: 0; 
    list-style: none;
    gap: 2vw;
    font-size: clamp(0.5rem, calc(0.5rem + (1.125rem - 0.5rem) * ((100vw - 320px) / (1600 - 320))), 1.125rem);
    flex-shrink: 1;
}
.header-nav-holder ul > *{
    flex-shrink: 1;
}

.header-nav-holder ul li a {
    text-decoration: none;
    color: #222222;
    line-height: 1.6875rem;
    font-weight: 700;
    text-align: center;
    max-width: 56px;
    flex-grow: 1;
}   

main {
    background-color: var(--primary-color);
    max-width: 100%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-image: url('../images/heroimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    padding-left: 10vw;
}

.hero .hero-content{
    max-width: 53.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 15vh;
}

.hero .hero-content h1, p{
    color: var(--primary-font-color);

}

.hero .hero-content h1{
    font-size: clamp(2rem, 4vw + 1rem, 5vw);
    font-weight: 700;
    max-height: 90px;
    margin: 0;
    margin-bottom: 2vh;
}

.hero .hero-content p{
    font-size: clamp(1rem, 1.75vw,5vw );
    font-weight: 400;
    min-height: 252px;
    line-height: 2.45rem;
    letter-spacing: 1% ;
}

.info-section {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    align-items: flex-start;

}

.info-section .info-div {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 10vh;
    width: 100%;
    max-width: 67.25% ;
}

.info-section .info-div h4{
    font-size: clamp(2rem,3vw, 3vw);
    color: var(--header-font-color);
    margin: 0;
    font-weight: 600;
}

.info-section .info-div p{
    color: var(--article-font-color);
    /* margin: 0; */
}

.article-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1vw;
    /* background-color: aqua; */
    margin: 0 10vw;
    min-height: 90vh;
    padding: 0;
}
.article-grid-articles:nth-child(2), .article-grid-articles:nth-child(3) {
    border-left: 2px solid transparent;
    border-image-source: linear-gradient(270deg, #FF7E3F  0%, #FEBF58 100%);
    border-image-slice: 1;
}
.article-grid .article-grid-articles{
    display: flex;
    flex-direction: column;
    
}

.article-grid .article-grid-articles .second-content{
    margin-left: 1vw;
}

.article-grid .article-grid-articles h6{
    max-width: 16vw;
    font-size: clamp(1rem,2vw,2.5rem);
    color: var(--sub-header-font-color);
    margin-bottom: 0;
    font-weight: 600;
}
.article-grid .article-grid-articles p{
    max-width: 16vw;
    font-size: clamp(0.5rem,1vw,1rem);
    color: var(--article-font-color);
    max-height: 72px;
    overflow-y: hidden;
}

.article-grid .article-grid-articles .article-image-holder{
    margin-top: 5vh;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  
}

.article-grid .article-grid-articles .article-image-holder img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.last-child{
    width: 100%;
    background-color: var(--secondary-color);
}

.last-child h6{
    font-size: clamp(2rem, 4vw + 1rem, 5vw);
    font-weight: 700;
    max-height: 90px;
    margin: 0;
}